[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/shererc
[access "refs/for/refs/*"]
	read = group user/shererc
	push = group user/shererc
	label-Code-Review = -2..+2 group user/shererc
	label-Verified = -1..+1 group user/shererc
	rebase = group user/shererc
	removeReviewer = group user/shererc
	submit = group user/shererc
[access "refs/heads/*"]
	read = group user/shererc
	create = group user/shererc
	push = +force group user/shererc
	pushMerge = group user/shererc
[access "refs/tags/*"]
	push = group user/shererc
	push = +force group user/shererc
